<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Register your account</h2>
        </div>
    </div><br><br>
        <div class="row justify-content-center">
          
    <div class="col-md-6 ">
        <form  #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
            
    
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example11">Username</label>
              <input ngModel name="email" type="email" id="form2Example11" class="form-control" placeholder="Enter your email address"/>
             
            </div>
    
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example22">Password</label>
              <input ngModel name="password" type="password" id="form2Example22" class="form-control" placeholder="Enter your Password" />
              
            </div>
    
            <div class="text-center pt-1 mb-5 pb-1">
              <button  class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Sign Up</button>
            
            </div>
    
            <div class="d-flex align-items-center justify-content-center pb-4">
              <p class="mb-0 me-2">Already have an account?</p>&nbsp;&nbsp;
              <button type="button" class="btn btn-outline-danger" routerLink="/login">Login page</button>
            </div>
    
          </form >
    
    </div>
        </div>
    </div>