.home{
    background-color: #000000;
}

.card-body{
    background-color: #000000;
}

.card-title{
    text-align: center;
}

.card{
    margin: auto;
    border-radius: 10px #cfa784;
    border: solid 1px #cfa784 ;
    /* box-shadow:0px 0px 5.9px 0.1px; */
}
.card-img-top{
    
    border-top-left-radius: 5px;
}