.navbar_style{
 background-color: #000000;
}

.navbar-brand{
    font-size:230%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.form-control{
    background-color: #adb294;
    border-radius: 15px;
    height: 30px;
    
}

