<div class="home">
  <div class="container" class="home">
    <div class="row justify-content-between">
      <div
        class="col-sm-6 col-md-3 col-xs-12"
        *ngFor="let film of movies_name?.results"
      >
        <div class="card mt-5" style="width: 14rem; height: 22rem">
          <img
            [src]="'https://image.tmdb.org/t/p/original' + film.poster_path"
            class="card-img-top"
            alt="..."
            height="250px"
          />
          <div class="card-body">
            <h5 style="color: white" class="card-title">{{ film.title }}</h5>
          </div>

          <div class="card-body">
            <a [routerLink]="['/movieDetails/', film.id]">details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
